.food_main{
    display: flex;
    align-items: center;


}
body{
    background-color: #464646;
}
.food_main::before{
    content: "";
    background-color:black;
    position: absolute;
    z-index: -1;
    padding: 5px;
    height: 10vh;
    width: 99.7%;
    margin-top:-1%;
    margin-left: -1%;
    opacity: 0.4;
    
}
.btn1{
    cursor: pointer;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    border: solid 2px white;
    padding: 2px 25px;
    margin-left: 38%;
}
.btn4{
    cursor: pointer;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: solid 2px white;
    padding: 2px 25px;
    
     
}
.span-btn{
    margin-top: 15px;
}
.dr-lg{
    margin-left: 32%;
}
.dark{
    cursor: pointer;
    
}
.light{
    cursor: pointer;
}
#logo{
    width: 45%;
    margin: -1px;
    margin-left: 1%;
}
.nav1_main{
    margin:1.5% -10%;

    
}
.nav1_main a{
    font-family: serif;
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    
}
.nav1_main a:hover{
    border-bottom:2px solid white ;
    animation: zone 3s ease 1s scale  alternate;
    
   
    
}
.home::before{
    content: "";
    background: url("https://nayaaaaaann.github.io/Foodies/img/top-view-food-frame-with-copy-space.jpg") no-repeat center center/cover;
    position: absolute;
    z-index: -2;
    height: 100vh;
    width: 101%;
    margin-top: -5%;
    margin-left: -1%;
   
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h2_main{
    color: white;
    margin-left: 50%;
    margin-top: 5%;
    font-family:bree serif;
    text-shadow: 0 0 20px black;
    opacity: 0.4;
    font-size: 40px;
    
}
.p1{
    margin-left: 50%;
    margin-top: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 0 0 5px black;
}
.p2{
    margin-left: 50%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
    margin-top: -1%;
    font-size: 14px;
}

.btn2{
    margin-left: 50%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius:7px;
    padding: 3px 20px;
    text-shadow: 0 0 5px black;
    text-align: center;
    margin-top: -0.5%;
    font-size: 20px;
    cursor: pointer;
    color: white;
    text-decoration:none;
    border: solid 2px white;
}
.h3_main{
  text-align: center;
  margin-top: 16%;
    font-size: 26px;
    color: white;
    font-family: bree serif;
}
.flex_main{
    display: flex;

}
.flex1{
    padding: 20px;
    margin: 20px;
    text-align: center;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid 2px white;
    width: 50%;
}
#img-j{
    margin-left: -8%;
    margin-top: 5%;
}
#img-d{
    margin-top: 13%;
}
.h3_main1{
    text-align: center;
    margin-top: 3%;
      font-size: 30px;
      color: white;
      font-family: bree serif;
}
.icon_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22%;
}
.icon1{
    margin: 50px;
}
.icon_main2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22%;
    margin-top: -5%;
    
}
.icon2{
    margin: 50px;
}
#l1{
    position: relative;
    left: -10%;
}
#l2{
    position: relative;
    left: -9%;
}
#l3{
    position: relative;
    left: -3%;
}
.h3_main2{
    
    margin-top: 1%;
    position: relative;
    top: 10%;
      margin-left: 24%;   
      font-size: 30px;
      color: white;
      font-family: bree serif;
}
.contact{
    background: url("https://nayaaaaaann.github.io/Foodies/img/vegetables-set-left-black-slate.jpg") center center/cover ; 
    height: 690px;
    width: 101.6%;
    margin-top: 4%;
    margin-left: -1%;
}
.form1{
    margin-left: 10%;
    margin-top: 8%;
}
.form_main{
    margin: 1%;
    width: 40%;
    height: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255,0);
    border: solid 2px white;
    color: white;
    font-family: acme;
}
.form_main::placeholder{
    color: white;
    font-family: acme;
}
.form_main1{
    margin: 1%;
    width: 40%;
    padding: 10px;
    background-color: rgba(255, 255, 255,0);
    border: solid 2px white;
    color: white;
    font-family: acme;
}
.form_main1::placeholder{
    color: white;
    font-family: acme;
}
.btn3{
    font-size: 20px;
    background-color: rgba(255, 255, 255,0);
    border: solid 2px white;
    color: white;
    margin-left: 1%;
    padding: 8px ;
    width: 41.8%;
    font-family: acme;
    border-radius: 5px;
    cursor: pointer;
}
.footer {
    background-color:#444444;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 5%;
    padding-right: 42%;
    padding-left: 5%;
    margin-left: -1%;
    margin-right: -0.6%;
    z-index: -1;

}

.title3 {
    font-size: 29px;
}
.para2 {
    font-size: 18px;
    color: white;
}

.footer-main {
    color: white;
    display: flex;
    flex-direction: row;
    
    position: relative;
    left: 65%;
}

.footer-content {
    margin: 60px;
    margin-top: -24%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
.h3_main3{
    font-family: bree serif;
    color:white ;
}
.title4 {

position: absolute;
top: 410%;
    left: 38%;
    color:white;
    font-size: 18px;
}
.span13 {
    color:white;
    font-size: 22px;
    text-decoration: underline;
}
/* @media screen and (max-width:400px) {
    .footer-content{
        margin: 10px;
        font-size: 14px;
    }
    .footer-main{
        position: relative;
        top: 10%;
        left: 4%;
    }
    .title4{
        position: absolute;
        top: 450%;
        left: 15%;
        font-size: 14px;

    }
    .title3{
        margin-left: 20%;
        text-align: center;
        font-size: 18px;
    }
} */
